@font-face {
     font-family: pynionscript;
     src: url('../../font/PinyonScript-Regular.ttf');
}

@font-face {
     font-family: blenheim;
     src: url('../../font/BlenheimSignature.ttf');
}

@font-face {
     font-family: petra;
     src: url('../../font/petrascriptefalternate.ttf');
}

@font-face {
     font-family: exo;
     src: url('../../font/Exo-Light.otf');
}

@font-face {
     font-family: poppins;
     src: url('../../font/Poppins-ExtraLight.otf');
}

.concerto{
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: poppins;
}

.repertorios{
  font-family: poppins;
  font-size: 15px;
}

.letra{
  text-align: right;
  font-family: poppins;
}

.sobre-maior{
  text-align: justify;
  font-family: poppins;
}

.sobre{
  font-size: 27px;
  text-align: center;
  font-family: poppins;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: poppins;
}

header.sub {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #4d0000;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 315px;
}

header{
  overflow: hidden;
  padding: 20px 10px;
}

header.sub .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.sub .page-heading,
header.sub .post-heading,
header.sub .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.sub .page-heading,
  header.sub .post-heading,
  header.sub .site-heading {
    padding: 200px 0;
  }
}

header.sub .page-heading,
header.sub .site-heading {
  text-align: center;
}

header.sub .page-heading h1,
header.sub .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.sub .page-heading .subheading,
header.sub .site-heading .subheading {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: -160px 0 0;
  font-family: poppins;
}

@media only screen and (min-width: 768px) {
  header.sub .page-heading h1,
  header.sub .site-heading h1 {
    font-size: 80px;
  }
}

header.sub .post-heading h1 {
  font-size: 35px;
}

header.sub .post-heading .meta,
header.sub .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.sub .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.sub .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.sub .post-heading .meta a {
  color: #fff;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,0,0,0.17); }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:#ffc1075c}

.fixo {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav > li.nav-item > .bandeira {
    padding: 10px 10px;
    color: #fff;
}